<%- include('includes/head.ejs') %>
</head>

<body>
    <header class="main-header">
        <%- include('includes/navigation.ejs') %>
    </header>

    <main>
        <% if (products.length > 0) { %>
            <div class="grid">
                <% for (product of products) { %>
                    <article class="card product-item">
                        <header>
                            <h1 class="produc__title"><%= product.title %></h1>
                        </header>
                        <div class="card__image">
                            <img src="">
                        </div>
                        <div class="card__content">
                            <h2 class="produc__price">$19.99</h2>
                            <p class="product__description">Interesting book</p>
                        </div>
                        <div class="card__actions">
                            <button class="btn">Add to cart</button>
                        </div>
                    </article>
                <% } %>
            </div>
        <% } else { %>
            <h1>No products found!</h1>
        <% } %>
    </main>
<%- include('includes/end.ejs') %>